[submodule "plugins/ffmpeg/hap"]
	path = plugins/ffmpeg/hap
	url = https://github.com/Vidvox/hap
[submodule "libs/exprtk"]
	path = libs/exprtk
	url = https://github.com/ArashPartow/exprtk
[submodule "libs/FugioTime"]
	path = libs/FugioTime
	url = https://github.com/bigfug/FugioTime.git
[submodule "plugins/quirc/quirc"]
	path = plugins/quirc/quirc
	url = https://github.com/dlbeer/quirc.git
[submodule "plugins/TUIO/TUIO11_CPP"]
	path = plugins/TUIO/TUIO11_CPP
	url = https://github.com/mkalten/TUIO11_CPP.git
[submodule "include"]
	path = include
	url = https://github.com/bigfug/fugio-api
