[submodule "plugins/ffmpeg/hap"]
	path = plugins/ffmpeg/hap
	url = https://github.com/Vidvox/hap
[submodule "libs/exprtk"]
	path = libs/exprtk
	url = https://github.com/ArashPartow/exprtk
[submodule "libs/FugioTime"]
	path = libs/FugioTime
	url = https://github.com/bigfug/FugioTime.git
