/*
 http://doc.qt.io/qt-5/stylesheet-reference.html
*/

TEST
{
	background-color: blue;
}

QComboBox
{
	background-color: #4d4d4d;
	color: #888888;
}

QDialog
{
	background-color: #4d4d4d;
	color: #888888;
}

QDockWidget
{
	background-color: #4d4d4d;
	color: #888888;
}

QGraphicsView
{
	background-color: #2b2b2b;
}

QHeaderView
{
	background-color: #4d4d4d;
	color: #888888;
}

QListView, QPlainTextEdit, QTreeView
{
	background-color: #2b2b2b;
	color: #888888;
}

QLabel
{
	color: #888888;
}

QLineEdit
{
	background-color: #2b2b2b;
	color: #888888;
	border-width: 1px;
	border-style: solid;
	border-color: #888888;
}

QMainWindow
{
	background-color: #2b2b2b;
}

QMdiArea
{
	background-image: url(background.png);
}

QMdiSubWindow
{
	background-color: #2b2b2b;
}

QPushButton
{
	background-color: #4d4d4d;
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #888888;
	padding: 6px;
	color: #bbbbbb;
}

QPushButton:checked
{
	background-color: red;
}

QTabWidget
{
	background-color: #4d4d4d;
	color: #aaaaaa;
}

QTabWidget::pane { /* The tab widget frame */
    border-top: 2px solid #C2C7CB;
}

QTabWidget::tab-bar {
}

/* Style the tab using the tab sub-control. Note that
    it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #4d4d4d, stop: 0.4 #DDDDDD,
                                stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
    border: 2px solid #C4C4C3;
    border-bottom-color: #4d4d4d; /* same as the pane color */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 8ex;
    padding: 2px;
}

QTabBar::tab:selected, QTabBar::tab:hover
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #4d4d4d, stop: 0.4 #f4f4f4,
                                stop: 0.5 #e7e7e7, stop: 1.0 #fafafa);
}

QTabBar::tab:selected
{
    border-color: #9B9B9B;
    border-bottom-color: #4d4d4d; /* same as pane color */
}

QTabBar::tab:!selected
{
    margin-top: 2px; /* make non-selected tabs look smaller */
}

QToolButton
{
	background-color: #4d4d4d;
	color: #aaaaaa;
	border-width: 1px;
	border-style: solid;
	border-color: #888888;
}

QMenuBar, QMenuBar::item
{
	background-color: #2b2b2b;
	color: #888888;
}

QMenuBar::item:selected
{
	color: #cccccc;
}

QMenu
{
	background-color: #2b2b2b;
	color: #888888;
}

QMenu::item:selected
{
	color: #cccccc;
}

QScrollArea
{
	border-width: 0px;
}

QScrollBar
{
	background-color: #4d4d4d;
	color: #888888;
}

QSpinBox, QDoubleSpinBox
{
	background-color: #4d4d4d;
	color: #888888;
}

QStatusBar
{
	color: #888888;
}

TimelineWidget
{
	border-width: 0px;
}

TrackList
{
	background-color: #2b2b2b;
	border-width: 0px;
	border-style: solid;
	border-color: #888888;
}

ContextView
{
	background-color: black;
	qproperty-LabelBrush: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
                                stop: 0 #4d4d4d, stop: 0.7 #D3D3D3,
                                stop: 0.7 #D3D3D3, stop: 1.0 #DDDDDD);
	qproperty-LabelFont: "serif,-1,12,5,0,0,0,0,0,0";
	qproperty-pin_font: "serif,-1,12,5,0,0,0,0,0,0";
}
